.collections {
  padding: 2rem;
  background-color: rgb(133, 132, 132);
  margin: 2rem auto;
  width: 20rem;
  max-width: 95%;
  min-height: 95%;
}

.collections img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
