.collections {
    flex-direction: row;
    flex: 5;
    padding: 2rem;
    background-color: rgb(133, 132, 132);
    text-emphasis-color: white;
    margin: 2rem auto;
    width: 20rem;
    max-width: 95%;
  }